<?xml version="1.0" encoding="utf-8"?>
<!-- Só no debug: permite ws:// para o servidor no PC. Release continua exigindo wss://. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute" />
</manifest>
